<%= form_with model: article, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="create text-center">
    <%= f.label t('articles.create.title') %>
    <%= f.text_field :title, class: 'form-control' %>
    <%= f.label t('articles.create.body') %>
    <%= f.text_area :body, class: 'form-control', rows: 10 %>
  </div>
  <div class="submit text-center">
    <%= f.submit t('defaults.create'), class: 'btn btn-dark' %>
  </div>
<% end %>
